.u-section-1 .u-sheet-1 {
  min-height: 13px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 34px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 65px;
  margin: 15px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 66px;
}

.u-section-3 .u-custom-html-1 {
  margin-bottom: 1px;
  margin-top: 1px;
}

.u-section-3 .u-custom-html-2 {
  height: auto;
  min-height: 25px;
  margin: -45px 47px 21px 268px;
}

@media (max-width: 575px) {
  .u-section-3 .u-custom-html-1 {
    height: auto;
    min-height: 65px;
    margin-right: 151px;
    margin-bottom: 0;
    margin-left: 0;
  }
}