.u-section-1 .u-sheet-1 {
  min-height: 13px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 34px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 95px;
}

.u-section-2 .u-image-1 {
  width: 133px;
  height: 95px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-family: "Alex Brush";
  font-weight: 700;
  font-size: 2.25rem;
  margin: 16px 19px 0;
}

.u-section-2 .u-text-2 {
  width: 491px;
  font-size: 1rem;
  background-image: none;
  margin: 10px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 492px;
    margin-top: 13px;
    margin-bottom: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 407px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-2 .u-image-1 {
    width: 109px;
    height: 78px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-2 .u-text-1 {
    font-family: Artifika;
    width: 340px;
    font-size: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 300px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 115px;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-3 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 60px;
}